<nav  class="navbar navbar-expand-lg py-4  sticky-top">
      <div class="container">
        <h1 class="navbar-brand text-white" >START FRAMEWORK</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto">   
            <li class="nav-item">
              <a class="nav-link text-white a1 mt-lg-0" style="width: fit-content;" routerLink="about" routerLinkActive="nav-active rounded main-color ">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" style="width: fit-content;" routerLink="portfolio" routerLinkActive="nav-active rounded main-color ">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" style="width: fit-content;" routerLink="contact" routerLinkActive="nav-active rounded main-color ">CONTACTS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
