*{
    color: white;
    font-weight: 700;
}
.navbar{
    background-color: #2C3E50!important;
}
.main-color{
    background-color: #1ABC9C;
}
.nav-link{
    
    margin:0 10px ;
    font-size: 1rem;
}
.navbar-brand{
    font-size: 2rem;
}
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-brand{
        font-size: 25px !important;
    }
    .nav-link{
        padding:10px 5px !important;
    }
    .nav-item a{
        font-size: 16px !important;
    }
    .a1{
        margin-top: 10px !important;

    }
}

