<div class="contact">
    <div class="container">
        <div class="text-center">
            <h1  class="title1 fw-bold mt-5">CONTACT SECTION</h1>
            <div class="icons d-flex align-items-center justify-content-center">
                <div class="line "></div>
                <i class="fa-solid fa-star "></i>
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="from-style w-50 mx-auto p-3 mt-3">
                <form action="">
                    <div class="">
                        <label for="i1">userName :</label>
                        <input  type="text" id="i1" placeholder="userName" class="form-control rounded-2 border border-top-0 border-start-0 border-end-0 " >
                    </div>
                    <div class="">
                        <label for="i2">userAge :</label>
                        <input  type="text" id="i2" placeholder="userAge" class="form-control rounded-2 border border-top-0 border-start-0 border-end-0 " >
                    </div>
                    <div class="">
                        <label for="i3">userEmail :</label>
                        <input  type="text" id="i3" placeholder="userEmail" class="form-control rounded-2 border border-top-0 border-start-0 border-end-0 " >
                    </div>
                    <div class="">
                        <label for="i4">userPassword :</label>
                        <input  type="password" id="i4" placeholder="userPassword" class="form-control rounded-2 border border-top-0 border-start-0 border-end-0 " >
                    </div>
                    <button type="button" class="btn btn-success d-flex justify-content-end mt-2">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
