<div class="portfolio">
    <div class="text-center">
        <h1 class="fw-bold">PORTFOLIO COMPONENT</h1>
        <div class="icons d-flex align-items-center justify-content-center">
            <div class="line "></div>
            <i class="fa-solid fa-star "></i>
            <div class="line"></div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-5 d-flex gx-5 ">
            <div class="col-md-4 col-sm-12">
              <div class="image-container">
                <img src="../../assets/images/poert1.png" class="w-100 rounded-3 gy-4 d-flex gx-5 " alt="house" >
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
  <!-- Modal -->
  <div class="modal fade"  id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body ">
            <img src="../../assets/images/poert1.png" class="w-100 rounded-3 gy-4 gx-5 d-flex  justify-content-center align-content-center " alt="house" >
        </div>
        
      </div>
    </div>
  </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="image-container">
                <img src="../../assets/images/port2.png" class="w-100 rounded-3 gy-4 d-flex gx-5" alt="house" >
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../assets/images/port2.png" class="w-100 rounded-3 gy-4 d-flex gx-5   " alt="house">
        </div>
        
      </div>
    </div>
  </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="image-container">
                <img src="../../assets/images/port3.png" class="w-100 rounded-3 gy-4 d-flex gx-5" alt="house" >
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>  <!-- Modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../assets/images/port3.png" class="w-100 rounded-3 gy-4 d-flex gx-5   " alt="house">
        </div>
        
      </div>
    </div>
  </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="image-container">
                <img src="../../assets/images/poert1.png" class="w-100 rounded-3 gy-4 d-flex gx-5" alt="house" >
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>  <!-- Modal -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../assets/images/poert1.png" class="w-100 rounded-3 gy-4 d-flex gx-5   " alt="house">
        </div>
        
      </div>
    </div>
  </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="image-container">
                <img src="../../assets/images/port2.png" class="w-100 rounded-3 gy-4 d-flex gx-5" alt="house" >
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>  <!-- Modal -->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../assets/images/port2.png" class="w-100 rounded-3 gy-4 d-flex gx-5   " alt="house">
        </div>
        
      </div>
    </div>
  </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-4">
              <div class="image-container">
                <img src="../../assets/images/port3.png" class="w-100 rounded-3 gy-4 d-flex gx-5" alt="house" >
                <div class="overlay" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>  <!-- Modal -->
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../assets/images/port3.png" class="w-100 rounded-3 gy-4 d-flex gx-5  " alt="house">
        </div>
        
      </div>
    </div>
  </div>
            </div>
            
        </div>
    </div>

    
    
    


</div>



